body {
  background-image: url(img/background.png);
  background-attachment: fixed;
  background-size: 100%;
  
}

.main {
  border: solid;
  margin: 2% 33% 0 31%;

  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
                     "notes"
                     "createNote";
  height: 93vh;
  position: relative;
}


