.notes {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-area: notes;
  border-bottom: medium solid;
  padding: 1%;
  margin: 2px;
}

.note {
  border: 1px solid;
  border-color: rgb(58, 2, 16);
  margin: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 14fr 1fr;
  grid-template-areas: 
                      "hedNote del"
                      "nText edit"
                      "nText ready"                      
                      ;
}

.notesText {
  grid-area: nText;
  background-color: rgb(114, 126, 153);

  font-family: Bradley Hand, cursive;
  font-size: 1.5em;

}

.headingNote {
  grid-area: hedNote;
  background-color: rgb(131, 130, 133);
  font-family: Marker Felt, fantasy;
  font-size: 2em;
}
.notesText, .headingNote {
  display: flex;
  border-right: 3px solid;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  padding: 5px;
  hyphens: auto;
  white-space: pre-line;
  word-break: break-all;
}

