.note {
  border: 1px solid;
  border-color: rgb(12, 12, 138);
  margin: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 14fr 1fr;
  grid-template-areas: 
                      "hedNote del"
                      "nText edit"
                      "nText ready"                      
                      ;

}
.notes {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-area: notes;
  border: dashed;
  margin: 2px;
}

.notesText {
  display: flex;
  grid-area: nText;
  border-right: 3px solid;
  background-color: aquamarine;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  white-space: pre;
}

.headingNote {
  display: flex;
  grid-area: hedNote;
  border-right: 3px solid;
  background-color: rgb(60, 161, 228);
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
