.createNote {
  display: grid;
  grid-area: createNote;
  grid-template-rows: 1fr;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: 
                      "written addd"
                      ;
  bottom: 0;
  width: auto;
  border: dashed;
  margin: 2px;
}
.written {
  grid-area: written;
}
.del {
  grid-area: del;
}
.edit {
  grid-area: edit;
}
.ready {
  grid-area: ready;
}
.add {
  grid-area: addd;

}
.icon {
  width: 50px;
}

.del, .edit, .ready, .add {
  margin: auto;
  cursor: pointer;
}
.newNoteArea, .headingInput {
  margin: 3px;
  width: 90%;
  outline: none;
  resize: none;
  white-space: pre;

}
.createNote #editArea {
  display: none;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.blacklighGreen:hover {
  box-shadow:0 0 7px 1px #b7ffa2;
}
.blacklighYelow:hover {
  box-shadow:0 0 5px 1px #fff891;
}
.blacklighRed:hover {
  box-shadow:0 0 5px 1px #ffa7a7;
}
