.createNote {
  display: grid;
  grid-area: createNote;
  grid-template-rows: 1fr;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: 
                      "written addd"
                      ;
  bottom: 0;
  width: auto;
  margin: 2px;
  padding: 1%;
}
.written {
  grid-area: written;
}

.add {
  grid-area: addd;
}

.icon {
  width: 50px;
}

.del, .edit, .ready, .add {
  margin: auto;
  cursor: pointer;
}

.newNoteArea, .headingInput {
  margin: 3px;
  width: 96%;
  outline: none;
  resize: none;
  white-space: pre;
  border: none;
  
}
.headingInput {
  background-color: rgb(131, 130, 133);
}
.newNoteArea {
  background-color: rgb(127, 139, 165);
}
.createNote #editArea {
  display: none;
}
.buttons {
  display: flex;
  flex-direction: column;
}
input[type="text"]::placeholder, textarea::placeholder { 
  color: #2a2c36; 
} 
.blacklighGreen:hover {
  box-shadow:0 0 7px 1px #b7ffa2;
}
.blacklighYelow:hover {
  box-shadow:0 0 5px 1px #fff891;
}
.blacklighRed:hover {
  box-shadow:0 0 5px 1px #ffa7a7;
}
